
#masthead {
  background: rgb(49, 59, 96);
  color: #f9f2ef;
  padding: 10px 0;
  min-height: 21rem;
  height: 21rem;
}

.logo {
  display: block;
  width: 140px;
  position: absolute;
  left: 30px;
  top: 15px
}

a img.logo {
  -webkit-transition: all .2s ease;
  transition: all .2s ease
}

a:hover img.logo {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1)
}

#masthead .container {
  position: relative
}

.network-nav, .sidebar {
  position: absolute;
  top: 0
}

.network-nav {
  right: 0;
  z-index: 2;
  font-size: 16px
}

.network-nav li {
  float: left
}

.network-nav a {
  color: #2baf2b;
  display: block;
  padding: .2em 15px;
  border-radius: 4px
}

.blog-page .network-nav .nav-blog a, .docs-page .network-nav .nav-docs a {
  color: #00ACEE
}

.network-nav a:hover {
  text-decoration: none;
  background: #fff
}

.sidebar {
  left: 10px;
  width: 200px
}

.sidebar .nav a {
  display: block;
  padding: .2em 0
}

.brand h1, .icon-home {
  display: inline-block
}

.docs-nav li {
  font-size: 17px
}

.docs-nav a {
  color: #00acee
}

.docs-nav ul {
  padding-left: 15px
}

.docs-nav ul li {
  list-style-type: none
}

.docs-nav ul li a {
  font-size: 15px
}

.extra-nav li {
  font-size: 14px
}

.extra-nav-icon {
  width: 1.4em;
  height: 1.4em;
  fill: #008ec4
}

.icon-home {
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: #000;
  fill: #000
}

.page-title {
  font-size: 64px;
  letter-spacing: -.025em;
  margin: 0;
  padding: 30px 0 0 220px
}

.brand {
  position: relative;
  padding-left: 360px;
  min-height: 15rem;
  height: 15rem;
}

.brand h1 {
  margin: 0;
  color: #2c789d;
  font-size: 90px;
  line-height: 1;
  padding-top: 40px;
}

.brand h1, .brand h3 {
  letter-spacing: -.04em
}

.brand .logo {
  display: block;
  position: absolute;
  left: 0;
  top: 18px;
  width: 301px;
}

#content .container, .main h2, .main h3, .main h4 {
  position: relative
}

.brand .tagline {
  margin: 0 0 30px;
  font-size: 55px;
  line-height: 1;
  color: #f3f1f0;
  padding-left: 5px;
}

.btn {
  font-size: 18px;
  color: #00ACEE;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none
}

.btn:hover {
  border-color: #EF5734
}

.menu-btn {
  display: none
}

@media screen and (max-width: 680px) {
  .logo, .network-nav {
    position: relative;
    left: auto
  }

  .brand, .menu-btn, .network-nav li, .sidebar {
    text-align: center
  }

  .small-hidden {
    display: none
  }

  #masthead {
    margin-bottom: 10px;
    min-height: auto
  }

  .network-nav {
    display: table;
    font-size: 14px;
    top: auto;
    width: 100%
  }

  .network-nav.nav {
    padding-bottom: 12px;
    border-bottom: 1px solid #f1c03e
  }

  .network-nav:after {
    content: "";
    display: table;
    clear: both
  }

  .network-nav li {
    float: none;
    display: table-cell;
    margin-bottom: 10px;
    valign: bottom
  }

  .brand {
    padding-left: 0;
    min-height: 0
  }

  .logo {
    display: inline-block;
    width: 40px;
    top: 5px
  }

  .brand .logo, .sidebar {
    left: auto;
    position: relative;
    top: auto
  }

  .brand .logo {
    display: block;
    width: 100px;
    margin: 12px auto 0
  }

  .page-title {
    font-size: 32px;
    padding: 7px 0 5px;
    display: inline-block
  }

  .brand h1 {
    display: block;
    padding-top: 0;
    font-size: 48px
  }

  .brand .tagline {
    font-size: 18px;
    margin-bottom: 14px
  }

  .sidebar {
    width: 100%;
    height: 0;
    overflow: hidden
  }

  .blog-page .sidebar, .sidebar.extended {
    height: auto
  }

  .sidebar .nav a {
    padding: .4em 0
  }

  .container .main {
    margin-left: 0
  }

  .docs-nav li {
    border-bottom: 1px solid #eee;
    padding: 5px 0
  }

  .docs-nav li ul li:last-child {
    border-bottom: none
  }

  .menu-btn {
    display: block;
    max-width: 250px;
    border: 1px solid #ccc;
    border-radius: 2px;
    height: 45px;
    padding: 8px 20px 0;
    margin: 20px auto
  }
}