<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="google-site-verification" content="1XwfuTPiyoCivlUjHLisCr8ukNu3tiv0Ax_wDx3-BhY">

  <link rel="apple-touch-icon" sizes="180x180" href="/favico/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favico/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="194x194" href="/favico/favicon-194x194.png">
  <link rel="icon" type="image/png" sizes="192x192" href="/favico/android-chrome-192x192.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favico/favicon-16x16.png">
  <link rel="manifest" href="/favico/manifest.json">
  <link rel="mask-icon" href="/favico/safari-pinned-tab.svg" color="#356d7d">
  <meta name="msapplication-TileColor" content="#ffc40d">
  <meta name="msapplication-TileImage" content="/favico/mstile-144x144.png">
  <meta name="theme-color" content="#23524f">

  <link rel="stylesheet" type="text/css" href="/dist/index2.css">

  <!-- Social Medias -->
  <meta property="og:url" content="https://webfly.org{% if page.url != '/index.html' %}{{ page.url }}{% endif %}">
  <meta property="og:image" content="https://webfly.org/img/webfly-128.png">
